.theme1{
    --main: #0F3D0F;
    --off: #ffbf7d;
    --neutral1: white;
}

body{
    margin: 0;
    font-family: 'Squada One', cursive;
    width: 100vw;
    overflow-x: hidden;
}

#splash{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
}

#titleWrapper{
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{
    position: absolute;
    right: 100%;
    font-size: 15vh;
}

#companyName{
    font-size: 20vmin;
    color: var(--off);
    font-family: 'Righteous', cursive;
    /* -webkit-text-stroke: 2px black; */
    /* font-weight: bold; */
    
}

#tagline{
    position: absolute;
    left: 60%;
    top: 90%;
    color: var(--neutral1);
    font-size: 4vh;
    width: 30vw;
}

#whatPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off);
    color: var(--main);
}

#whatContent{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#whatContent > svg{
    height: 40vmin;
}

#whatContent > svg > g{
    fill: var(--main);
}

#wpTitle{
    margin-top: 2vmin;
    font-size: 6vmin;
}

.water{
    animation: dash 5s linear;
    animation-iteration-count:infinite;
    fill: none;
    stroke: var(--main);
    stroke-width: 15px;
    stroke-dasharray: 35;
    stroke-linecap: round;
}

/* .water:last-child{
    stroke-dashoffset: 10;
} */
@keyframes dash {
    to {
      stroke-dashoffset: 600;
    }
  }

@media only screen and (max-width: 1024px)  {
    #logo{
        bottom: 101%;
        right: initial;
    }

    #companyName{
        font-size: 30vmin;
    }

    #tagline{
        width: 56vw;
        left: 40%
    }
}