.light{
    --main: #fffef7;
    --off: black;
    --neutral1: white;
    --alternate: #a61c00;
    --neutral2: darkgrey
}

.dark{
    /* --main: #11051B; */
    --main: #1e1527;
    --off: white;
    /* --neutral1: #0A0310; */
    --neutral1: #100818;
    --alternate: #a61c00;
    --neutral2: lightgrey;
}

body{
    margin: 0;
    font-family: 'open sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    color: var(--off);
}

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash{
    background-color: var(--main);
    font-size: 5vh;
    font-weight: bold;
}

#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#philosophy{
    background-color: var(--neutral1);
}

.paragraphWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 70vw;
    font-size: 3.5vh;
    font-weight: 500;
}

.uli{
    text-decoration: underline;
}

.uli:hover{
    text-decoration-color: var(--alternate);
    cursor: pointer;
}

#articles{
    background-color: var(--main);
    padding: 0 15vw;
    align-items: baseline;
    font-size: 3vh;
}

.infoCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 2vh 0;
}

.infoCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 28vw;
    cursor: pointer;
}

.cardPic{
    width: 28vw;
    height: 21vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImgWrapper{
    height: 100%;
    width: 100%;
    transition: height ease-in-out 0.15s;
}

.cardPic:hover > .cardImgWrapper{
    height: 20vw;
}

.cardImgWrapper > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cardHeading{
    font-size: 2.5vh;
    margin: 1vh 0;
    border-left: 2px solid var(--neutral2);
    padding-left: 1vw;
    transition: border ease-in-out 0.2s;
}

.cardHeading:hover{
    border-left: 10px solid var(--alternate);
}


.cardSub{
    font-size: 2vh;
}

.readmore{
    align-self: flex-end;
    font-size: 1.6vh;
}

#about{
    background-color: var(--main);
    padding: 0 15vw;
    align-items: baseline;
    font-size: 3vh;
}

@media only screen and (orientation: portrait){
    .paragraphWrapper{
        font-size: 5vw;
    }

    .paragraphWrapper > p{
        text-align: center;
    }
}

/* #splash{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
}

#titleWrapper{
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{
    position: absolute;
    right: 100%;
    font-size: 15vh;
}

#companyName{
    font-size: 20vmin;
    color: var(--off);
    font-family: 'Righteous', cursive;
}

#tagline{
    position: absolute;
    left: 60%;
    top: 90%;
    color: var(--neutral1);
    font-size: 4vh;
    width: 30vw;
}

#whatPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off);
    color: var(--main);
}

#whatContent{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#whatContent > svg{
    height: 40vmin;
}

#whatContent > svg > g{
    fill: var(--main);
}

#wpTitle{
    margin-bottom: 2vmin;
    font-size: 3.5vmin;
}

.water{
    animation: dash 5s linear;
    animation-iteration-count:infinite;
    fill: none;
    stroke: var(--main);
    stroke-width: 15px;
    stroke-dasharray: 35;
    stroke-linecap: round;
}

.wpContent{
    font-size: 3vmin;
    width: 100%;
    margin: 1vmin 0;
}

.large{
    font-size: 5vmin;
}


@keyframes dash {
    to {
      stroke-dashoffset: 700;
    }
  }

@media only screen and (max-width: 1024px)  {
    #logo{
        bottom: 101%;
        right: initial;
    }

    #companyName{
        font-size: 30vmin;
    }

    #tagline{
        width: 56vw;
        left: 40%
    }
}

#pongPage{
    height: 100vh;
    width: 100vw;
    background-color: var(--main);
    position: relative;
}

#pongPage > svg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 25vmin;
    margin: auto;
    fill: #0E230E;
}

#pongPage .water{
    stroke: #0E230E;
}

#pong{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vmin;
    margin: auto;
}

#p1{
    height: 100vh;
    width: 100vw;
    background-color: var(--off);
    position: relative;
    overflow: hidden;
}

#p1 > svg{
    height: 80vmin;
    position: absolute;
    right: 0;
    bottom: 0;
}

.pcontent{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
}

#textWrapper{
    width: 70vw;
    margin-top: 10%;
    margin-left: 10%;
}

#textWrapper > p{
    font-size: 4.5vmin;
}

.pcontent p > span{
    background-color: white;
    line-height: 7vmin;
}

.uli{
    text-decoration: underline;
}

.uli:hover{
    color: white;
    background-color: black;
    text-decoration: none;
} */