.theme1{
    --main: #670606;
    --off: #dbbc15;
    --neutral1: grey;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: var(--main);
    color: var(--off);
    font-size: 8vw;
}

#titlebar{
    width: 100vw;
    height: 15vh;
    font-family: 'Monoton', cursive;
    display: flex;
    align-items: center;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -3px 3px 0 #000,
      3px 3px 0 #000;
}

#name{
    padding: 5px 30px;
}

#content{
    font-size: 60px;
    font-family: 'Maven Pro', sans-serif;
    height: 85vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.page{
    position: relative;
    display: none;
    height: 85vh;
    width: 100vw;
    bottom: 0;
    transition: bottom 2s ease-out;
}

.page.selected{
    display: block;
}

@media screen and (orientation:portrait){
    #page1 > svg{
        width: 60%;
        left: 10%;
        bottom: 40%;
    }

    #question1{
        top: 20%;
        right: 10%;
    }
}

@media screen and (orientation:landscape){
    #page1 > svg{
        height: 100%;
        left: 35%;
        bottom: 10%;
    }

    #question1{
        top: 10%;
        right: 16%;
    }
}

/* #page1{
    transition: bottom 1s ease-out;
} */

#page1 > svg{
    position: absolute;
}

#svg_hand{
    fill: var(--off);
    stroke: black;
    stroke-width: 2px;
    cursor: pointer;
}

#svg_arrows{
    fill: rgba(33, 33, 33, 0.5);
    stroke: rgba(255, 255, 255, 0.5);
    display: none;
}

/* #page1:hover #svg_arrows{
    display: block;
} */

#svg_arrows[start]{
    display: block;
}

#svg_hand[drag=true] + #svg_arrows{
    display: none;
}

#svg_arrows > g{
    animation: floaty 1.2s infinite;
}

#svg_arrows > g:nth-child(1){
    animation-delay: 300ms;
}

#svg_arrows > g:nth-child(2){
    animation-delay: 600ms;
}

#svg_arrows > g:nth-child(3){
    animation-delay: 900ms;
}

@keyframes floaty{
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }

    50%{
        opacity: 100%;
    }

    100%{
        opacity: 0;
        transform: translate(0, -60px);
    }
}

#question1{
    position: absolute;
    text-align: right;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
    user-select: none;
}

#question1 > p{
    margin: 4px 0;
}